## Tech I use

I use a 2023 Macbook Pro M3 Pro.

My keyboard is a [36-key Corne with Kailh Choc Sunset switches](https://bsky.app/profile/andri.io/post/3ll2t3iks4k2g) that I built myself. At work I use a [ZSA Moonlander](https://www.zsa.io/moonlander) with 36 keys. My mouse is a Logitech MX Master 3.

I have Audio-Technica ATH-M50x headphones and PreSonus Eris E3.5 speakers that I
connect with a Focusrite Scarlett 2i2.

I use [VSCodium](https://vscodium.com/) and [Zed](https://zed.dev/) for development. I prefer [Svelte](https://svelte.dev/) for new projects.

Other tech I use and like:
- [Logseq](https://logseq.com/)
- [Anki](https://apps.ankiweb.net/)
- [GIMP](https://gimp.org/)
- [Inkscape](https://inkscape.org/)
- [Tuta](https://tuta.com/)
- [Plausible](https://plausible.io/)

Find out what tech other people use at [uses.tech](https://uses.tech/).
