## Projects

I've worked on some neat projects throughout the years and these are some of my favourites:

- [ClankerView](https://clankerview.com) - April 2026
- [Calibration Practice](https://calibration.andri.io/) - September 2025
- [Slackelo](https://github.com/ndri/slackelo) - March 2025
- [Sidekickicons](https://sidekickicons.com/) - October 2024
- [Anneta Targalt](https://annetatargalt.ee/) - October 2023
- [Quicksplain](https://quicksplain.com/) - July 2021
- [3D-Tic-Tac-Toe](https://andri.io/3dttt) - May 2021
- [Wheel of Existential Risk](https://andri.io/woer) - May 2021
- [QuickDrawBattle](https://andri.io/quickdrawbattle) - March 2021
- [Plane and Simple](https://andri.io/plane-and-simple) - January 2019
- [Emoji Cipher](https://andri.io/emojicipher) - November 2016

You might find more on my [GitLab](https://gitlab.com/hookey) and [GitHub](https://github.com/ndri).
