## What I'm up to

I am from Estonia, but I currently live in Copenhagen, Denmark.

I work as a frontend developer at [Ocean.io](https://ocean.io/).

I'm an active volunteer at [Effective Altruism Estonia](https://www.efektiivnealtruism.org/).

I'm the website manager and lead developer at [Anneta Targalt](https://annetatargalt.ee/).

Find out what other people are up to at [nownownow.com](https://nownownow.com).

This page is up to date as of 10th October 2026.
